{% extends 'base.html' %}
{% block body %}

  <main class="container">
    <section class="row">
      <div class="col-12 col-lg-8">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="message_flash alert alert-primary fade show hide mt-4">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
        {% for order in orders %}
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-7 col-lg-9">
                  <span class="h5 font-weight-bold">{{ order.date.strftime("%m/%d/%Y") }}</span>
                  <span class="h5">- {{ order.summ }} P</span>
                </div>
                {% if order.status.value == "Новый" %}
                  {% set badge = "badge-secondary" %}
                {% elif order.status.value == "Выполняется" %}
                  {% set badge = "badge-primary" %}
                {% else %}
                  {% set badge = "badge-success" %}
                {% endif %}
                <div class="col-3 col-lg-2 ml-5 py-2 badge {{ badge }} text-wrap">{{ order.status.value }}</div>
              </div>
            </li>
            <div class="card-body">
              <div class="row">
                {% for meals in order.meals %}
                <p class="col-4 text-muted">{{ meals.meal.title }}</p>
                <p class="col-2 text-muted">{{ meals.amount }}</p>
                <p class="col-6 text-muted"> {{ meals.amount * meals.meal.price }} </p>
                {% endfor %}
              </div>
            </div>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}